.o-que-dizem{
    background-color: $color-primary-light;
    .como-aprender-texto{
        padding-left: 3rem;
        @media (max-width: 992px) {
            padding: 0;
          }
    }
    
    h2 {
        margin-bottom: 40px;
        font-weight: 300;
        font-size: 54px;
        line-height: 64px;
        letter-spacing: -0.02em;
        color: $color-white;
        text-align: center;
        @media (max-width: 992px) {
          margin-bottom: 0px;
          font-size: 30px;
          line-height: 35px;
          letter-spacing: -0.02em;
        }
        strong{
          font-weight: 600;
          font-size: 54px;
          line-height: 64px;
          letter-spacing: -0.02em;
          @media (max-width: 992px) {
            font-size: 30px;
            line-height: 35px;
            text-align: center;
            letter-spacing: -0.02em;
          }
        }
    }

    p{ 
        font-weight: 200;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: -0.02em;
        color: $color-secondary-dark;
        margin-bottom: 35px;
        strong {
            font-weight: 600;
            letter-spacing: -0.02em;
            color: $color-primary-light;
        }
        @media (max-width: 992px) {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 20px;
        }
    }
    b{
        font-weight: 700;
    }
    li {
        font-weight: 600;
        font-size: 21px;
        list-style-type: none;
        position: relative;
        margin-bottom: 0.5em;
        &:before {
            content: "";
            background: url("images/aprenda-mt/icon-circle.png") center left no-repeat;
            position: absolute;
            width: 15px;
            height: 15px;
            left: -1em; 
            top: 0.4em;           
        }
        @media (max-width: 992px) {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 24px;
            top: 0.4em;
            padding: 0;
            &:before {
                left: -2em;         
            }
        }
    }
    .btn{
        font-weight: 200;
        font-size: 24px;
        background-color: $color-primary-dark;
        color: $color-white;
        @media (max-width: 992px){
            font-size: 14px;
        }
    }

    //carousel
    
    .carousel-item{
        margin-bottom: 4rem;
        height: auto;
        
    }
    .carousel-caption{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        left: 0;
        right: 0;
    }
    .teste{
        height: 200px;
        width: 200px;
    }
}