.o-que-dizem {
    background-color: $color-primary-light;
    h2 {
        margin-bottom: 40px;
        font-weight: 300;
        font-size: 54px;
        line-height: 64px;
        letter-spacing: -0.02em;
        color: $color-white;
        text-align: center;
        @media (max-width: 992px) {
            margin-bottom: 0px;
            font-size: 30px;
            line-height: 35px;
            letter-spacing: -0.02em;
        }
        strong {
            font-weight: 600;
            font-size: 54px;
            line-height: 64px;
            letter-spacing: -0.02em;
            @media (max-width: 992px) {
                font-size: 30px;
                line-height: 35px;
                text-align: center;
                letter-spacing: -0.02em;
            }
        }
    }
    p {
        font-weight: 200;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: $color-secondary-dark;
        strong {
            font-weight: 600;
            letter-spacing: -0.02em;
            color: $color-primary-light;
        }
        @media (max-width: 992px) {
            font-size: 14px;
            line-height: 16px;
        }
    }
    strong {
        font-weight: 700;
    }
    .btn {
        font-weight: 200;
        font-size: 24px;
        background-color: $color-white;
        color: $color-primary-dark;
        &:hover {
            background: transparent;
            border: 1px solid $color-white;
            color: $color-white;
        }
        @media (max-width: 992px) {
            font-size: 14px;
        }
    }
    .carousel-caption {
        display: contents;
    }
    .carousel-control-prev-icon {
        background-image: url("images/mt-unica/prev.png");
        width: 24px;
        height: 44px;
        @media (max-width: 992px) {
            width: 8px;
            height: 18px;
        }
    }
    .carousel-control-next-icon {
        background-image: url("images/mt-unica/next.png");
        width: 24px;
        height: 44px;
        @media (max-width: 992px) {
            width: 8px;
            height: 18px;
        }
    }
    .carousel-control-next {
        right: -90px;
    }
    .carousel-control-prev {
        left: -90px;
    }
    .card-lateral {
        iframe {
            width: 100%;
            height: auto;
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid;
        border-radius: 16px;
        font-size: 10px;
        padding: 1rem;
        padding-bottom: 0;
        p {
            font-size: 16px;
            line-height: 20px;
        }
    }
    .card-centro {
        iframe {
            width: 100%;
            height: 185px;
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1rem;
        padding-bottom: 0;
        border: 1px solid;
        border-radius: 10px;
        font-size: 20px;
        p {
            font-size: 20px;
            line-height: 26px;
        }
    }
}
