.visite-blog{
  h2 {
    margin-bottom: 40px;
    font-weight: 300;
    font-size: 54px;
    line-height: 64px;
    letter-spacing: -0.02em;
    color: $color-secondary-dark;
    text-align: center;
    @media (max-width: 992px) {
      margin-bottom: 25px;
      font-size: 30px;
      line-height: 35px;
      letter-spacing: -0.02em;
    }
    strong {
      font-weight: 600;
      font-size: 54px;
      line-height: 64px;
      letter-spacing: -0.02em;
      color: $color-primary-light;
      @media (max-width: 992px) {
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        letter-spacing: -0.02em;
      }
    }
  }
}