#mt_subscription_shortcode {
    #mt_filters {
      margin: 0 auto!important;
    }
    .btn-primary {
      border: 1px solid $color-primary-dark;
      &:hover {
        background: transparent!important;
      }
    }
    .btn-remove {
        background: $color-secondary-dark;
        border: 1px solid $color-secondary-dark!important;
        &:hover {
          background: transparent;
          border: 1px solid $color-secondary-dark!important;
        }
      }
      .form-select {
        width: 100%;
        font-weight: 500;
        font-size: var(--font-size-extrasmall);
        line-height: 16px;
        color: $color-primary-dark;
        padding: 7px 7px 4.5px 16.5px;
        border: 1px solid $color-primary-dark;
        border-radius: 30px;
        text-align: left;
        background-color: $color-white;
        background-image: url('images/aprenda-mt/dropdown.png');
        background-size: auto;
        margin-bottom: 10px;
        &:active, &:focus {
          box-shadow: none;
        }
      }
      .form-empty {
        ._field-wrapper input, ._field-wrapper textarea {
          background: #FFFFFF !important;
          border: 1px solid #F29F05 !important;
          border-radius: 30px !important;
          color: #F29F05 !important;
          font-family: 'Work Sans' !important;
          font-style: normal !important;
          font-weight: 500 !important;
          font-size: var(--font-size-small) !important;
          padding:8px 25px !important;
          line-height: 22px !important;   
          margin-bottom: 20px !important; 
        }
        
        ._field-wrapper input::placeholder, ._field-wrapper textarea::placeholder{
          color: #F29F05 !important;
          font-family: 'Work Sans' !important;
          font-style: normal;
          font-weight: 500 !important;
          font-size: var(--font-size-small);
          line-height: 22px;
        }
        
        #divCheck ._error {
          width: 100%;
          position: unset !important;
        }
        
        #divCheck ._error ._error-arrow {
          display: none;
        }
      }
      .empty-events {
        display: flex;
        width: 100%;
        align-items: center;
        @media screen and (max-width: 992px)  {
          display: block;
        }
        span {
          @media screen and (max-width: 992px)  {
            width: calc(100% - 40px);
            margin-left: 15px;
          }
          label {
            color: #323B50;
            font-size: 17px;
            margin: 0 !important;
            width: initial !important;
            vertical-align: middle !important;
            @media screen and (max-width: 992px) {
              font-size: 14px;
            }
          }
        }
      }
      .contactAceite {
        @media  screen and (max-width: 992px) {
          font-size: 14px;
        }
      }
      textarea {
        @media  screen and (max-width: 992px) {
          border-radius: 15px!important;
        }
      }
}