.sec-blog {
  background: $color-primary-blog;
  &::after{
    content: '';
    background: url('images/blog/blog-bg.png') bottom left no-repeat;
    position: absolute;
    width: 341px;
    height: 508px;
    margin-top: -508px;
    @media (max-width: 991.98px) {
      display: none;
    }
  }
  .container {
    &::before {
      content:   '';
      background: url('images/blog/blog-bg-menor.png') bottom left no-repeat;
      position: absolute;
      width: 30px;
      height: 30px;
      right: 0;
      margin-right: 15px;
      @media (max-width: 991.98px) {
        display:none;
      }
    }
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    z-index: 11111;
    @media (max-width: 991.98px) {
      padding-top: 20px;
      padding-bottom: 33px;
    }
  }
  h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    @media (max-width: 991.98px) {
      font-size: 16px;
      line-height: 20px;
    }
  }
  h2 {
    color: $color-white;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: -0.015em;
    margin-bottom: 45px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      background: $color-white;
      bottom: 0;
      height: 3px;
      width: 50px;
      top: calc(50% - 1.5px);
      margin-left: -75px;
      @media (max-width: 991.98px) {
        width: 40px;
        margin-left: -50px;
      }
    }
    &::after{
      content: '';
      position: absolute;
      border-radius: 20px;
      background: $color-white;
      height: 3px;
      width: 50px;
      top: calc(50% - 1.5px);
      margin-left: 25px;
      @media (max-width: 991.98px) {
        width: 40px;
        margin-left: 15px;
      }
    }
    @media (max-width: 991.98px) {
      font-size: 18px;
      line-height: 22px;
      letter-spacing: -0.015em;
      margin-bottom: 30px;
    }
  }
}