.page-inscricao {
    padding: 68px 0 90px 0;
    .inscricao-header {
        h2 {
            font-weight: 600;
            font-size: 54px;
            line-height: 63px;
            text-align: center;
            letter-spacing: -0.02em;
            color: $color-primary-medium;
            margin-bottom: 79px;
            @media (max-width: 992px) {
                font-size: 22px;
                line-height: 26px;
                margin-bottom: 15px;
            }
        }
        p {
            font-weight: 300;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: -0.02em;
            color: $color-secondary-dark;
            margin-bottom: 33px;
            @media (max-width: 992px) {
                font-size: 14px;
                line-height: 16px;
                margin-bottom: 18px;
            }
            strong {
                font-weight: 700;
                color: $color-secondary-dark;
            }
        }
    }
    // .inscricao-form {
    //     #_form_7_ {
    //         margin: 0 auto;
    //         padding: 0;
    //         max-width: 100%;
    //         width: 100%;
    //     }
    // }
    .inscricao-footer {
        div {
            display: flex;
            align-items: end;
            justify-content: left;
            img {
                margin-right: 23px;
                @media (max-width: 992px) {
                    margin-right: 7px;
                    max-width: 130px;
                }
            }
            h2 {
                font-weight: 300;
                font-size: 54px;
                line-height: 63px;
                letter-spacing: -0.02em;
                color: $color-primary-medium;
                margin-bottom: 0;
                strong {
                    font-weight: 600;
                }
                @media (max-width: 992px) {
                    font-size: 15.3292px;
                    line-height: 18px;
                    max-width: 175px;
                    margin: 0 auto;
                }
            }
        }
    }
}