.page-instrutores {
  .instrutores-header {
    margin-top: 80px;
    margin-bottom: 50px;
    @media (max-width: 992px) {
      margin-top: 40px;
      margin-bottom: 25px;
    }
    h2 {
      font-weight: 300;
      font-size: var(--font-size-h2);
      line-height: 63px;
      text-align: center;
      letter-spacing: -0.02em;
      color: $color-secondary-dark;
      margin-bottom: 42px;
      strong {
        font-weight: 600;
        color: $color-primary-medium;
      }
      @media (max-width: 992px) {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 15px;
      }
    }
    p {
      font-weight: 400;
      font-size: var(--font-size-primary);
      line-height: var(--line-height-primary);
      text-align: center;
      letter-spacing: -0.02em;
      margin-bottom: 0;
      color: $color-secondary-dark;
      strong {
        font-weight: 600;
      }
      @media (max-width: 992px) {
        font-size: 14px;
        line-height: 16px;
      }
    }
    
  }
  .instrutores-footer {
    margin: 95px 0;
    @media (max-width: 992px) {
      margin: 45px 0;
    }
    div {
      display: flex;
      align-items: end;
      justify-content: left;
      img {
        margin-right: 23px;
        @media (max-width: 992px) {
          margin-right: 7px;
          max-width: 130px;
        }
      }
      h2 {
        font-weight: 300;
        font-size: var(--font-size-h2);
        line-height: 63px;
        letter-spacing: -0.02em;
        color: $color-primary-medium;
        margin-bottom: 0;
        strong {
          font-weight: 600;
        }
        @media (max-width: 992px) {
          font-size: 15.3292px;
          line-height: 18px;
          max-width: 175px;
          margin: 0 auto;
        }
      }
    }
  }
  .instrutores-selection {
    margin-bottom: 60px;
    @media (max-width: 992px)  {
      margin-bottom: 45px;
    }
    button {
      font-weight: 700;
      font-size: 26px;
      line-height: 30px;
      color: $color-white;
      padding: 9px 31px;
      background: $color-primary-dark;
      border: 1px solid $color-primary-dark;
      border-radius: 30px;
      width: 100%;
      &:hover {
        background: transparent;
        color: $color-primary-dark;
      }
      @media (max-width: 992px) {
        font-size: 14px;
        line-height: 16px;
        width: 90%;
        margin: 0 auto;
      }
    }
    .form-select {
      width: 100%;
      font-weight: 500;
      font-size: var(--font-size-primary);
      line-height: var(--line-height-primary);
      color: $color-primary-dark;
      padding: 9px 31px;
      border: 1px solid $color-primary-dark;
      border-radius: 30px;
      text-align: left;
      background-color: $color-white;
      background-image: url('images/instrutores/dropdown.png');
      &:active, &:focus {
        box-shadow: none;
      }
      @media (max-width: 992px) {
        font-size: 14px;
        line-height: 16px;
        padding: 7px 17px;
        width: 90%;
        margin: 0 auto;
      }
    }
  }
  .instrutores-carousel {
    .swiper-button-prev {
      left: -4px;
      &::after {
        color: $color-primary-medium;
        font-size: 33px;
        @media (max-width: 992px) {
          font-size: 15px;
        }
      }
    }
    .swiper-button-next {
      right: -4px;
      &::after {
        color: $color-primary-medium;
        font-size: 33px;
        @media (max-width: 992px) {
          font-size: 15px;
        }
      }
    }
    .swiper {
      cursor: pointer;
    }
    .box {
      width: 220px;
      height: 220px;
      transition: all .3s ease;
      @media (max-width: 992px) {
        width: 150px;
        height: 150px;
      }
      .default {
        position: relative;
        z-index: 111;
        height: 100%;
        width: 100%;
        transition: all .3s ease;
        img {
          border-radius: 50%;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      .hover {
        display: none;
        transition: all .3s ease;
        border-radius: 50%;
        position: absolute;
        z-index: 1111;
        width: 220px;
        height: 220px;
        margin-top: -220px;
        background: $color-secondary-medium-80;
        overflow: hidden;
        padding: 50px 15px;
        @media (max-width: 992px) {
          width: 150px;
          height: 150px;
          margin-top: -150px;
          padding: 25px 10px;
        }
        h6 {
          font-weight: 700;
          font-size: 15px;
          line-height: 25px;
          text-align: center;
          color: $color-white;
          margin-bottom: 8px;
          @media (max-width: 992px) {
            font-size: 12px;
            line-height: 13px;
            margin-bottom: 5px;
          }
        }
        p {
          color: $color-white;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          text-align: center;
          margin-bottom: 6px;
          @media (max-width: 992px) {
            font-size: 11px;
            line-height: 10px;
            margin-bottom: 4px;
          }
          &::before {
            content: '';
            position: relative;
            background: url('images/instrutores/map.png') top center no-repeat;
            width: 8px;
            height: 10px;
            z-index: 111;
            margin-top: 5px;
            margin-left: -12px;
          }
        }
        .btn {
          padding: 3px 11px;
          font-weight: 700;
          font-size: 12px;
          line-height: 14px;
          text-transform: uppercase;
          color: $color-white;
          @media (max-width: 992px)  {
            font-size: 9px;
            line-height: 10px;
            width: 50%;
            margin-bottom: 1px;
            padding: 2px 4px;
          }
        }
      }
      &:hover{
        width: 220px;
        height: 220px;
        zoom: 1.1;
        transition: all .3s ease;
        @media (max-width: 992px) {
          width: 150px;
          height: 150px;
        }
        img {
          opacity: 0.7;
        }
        .hover {
          display: block;
        }
      }
    }
  }
}