.page-aprenda-mt {
  .agende-mt {
    padding: 42px 0 75px 0;
    @media (max-width: 992px) {
      padding: 30px 0 40px 0;
    }
    h2 {
      font-weight: 300;
      font-size: 22px;
      line-height: 26px;
      text-align: center;
      letter-spacing: -0.02em;
      color: $color-secondary-dark;
      margin-bottom: 30px;
      strong {
        font-weight: 600;
      }
      span {
        font-weight: 600;
        color:$color-primary-medium;
      }
    }
    .text {
      max-width: 920px;
      margin: 0 auto;
    }
    p {
      font-weight: 400;
      font-size: 30px;
      line-height: 35px;
      text-align: center;
      letter-spacing: -0.02em;
      color: $color-secondary-dark;
      text-align: center;
      margin-bottom: 40px;
      @media (max-width: 992px) {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        margin-bottom: 16px;
      }
      strong {
        font-weight: 700;
        @media (max-width: 992px)  {
          font-weight: 500;
        }
      }
      span {
        font-weight: 600;
        color: $color-primary-medium;
      }
    }
    .btn {
      font-weight: 700;
      font-size: 26px;
      line-height: 30px;
      color: $color-white;
      background: $color-primary-dark;
      border: 1px solid $color-primary-dark;
      border-radius: 30px;
      padding: 9px 31px;
      @media (max-width: 992px) {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        padding: 7px;
        width: 100%;
      }
      &:hover {
        background: transparent;
        border: 1px solid $color-primary-dark;
        color: $color-primary-dark;
      }
    }
    .form-select {
      width: 100%;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: $color-primary-dark;
      padding: 7px 7px 4.5px 16.5px;
      border: 1px solid $color-primary-dark;
      border-radius: 30px;
      text-align: left;
      background-color: $color-white;
      background-image: url('images/aprenda-mt/dropdown.png');
      background-size: auto;
      margin-bottom: 10px;
      &:active, &:focus {
        box-shadow: none;
      }
    }
  }
  .aprenda-mt-investir {
    background: $color-primary-medium;
    overflow: hidden;
    .container {
      padding-top: 80px;
      padding-bottom: 72px;
      @media (max-width: 992px) {
        padding-top: 30px;
        padding-bottom: 37px;
      }
    }
    .aprenda-mt-investir-topo{
      width: 100%;
      display: none;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
      }
      @media (max-width: 992px) {
        display: block;
      }
    }
    .aprenda-mt-investir-bg {
      top: 0;
      bottom: 0;
      left: 0;
      max-width: 530px;
      width: 40%;
      overflow: hidden;
      height: 100%;
      background: url(images/aprenda-mt/investir.png) center right no-repeat;
      background-size: cover;
      @media (max-width: 992px) { 
        display: none;
      }
    }
    h2 {
      font-weight: 700;
      font-size: 40px;
      line-height: 47px;
      letter-spacing: -0.02em;
      color: $color-white;
      margin-bottom: 33px;
      @media (max-width: 992px) {
        font-size: 22px;
        line-height: 26px;
        text-align: center;
        margin-bottom: 20px;
      }
    }
    p {
      margin-bottom: 40px;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: $color-secondary-dark;
      @media (max-width: 992px) {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 15px;
      }
      strong {
        font-weight: 700;
      }
    }
    
  }
  .aprenda-mt-footer {
    padding: 67px 0 64px;
    @media (max-width: 992px) {
      padding: 39px 0 36px 0;
    }
    h2 {
      font-weight: 600;
      font-size: 54px;
      line-height: 63px;
      letter-spacing: -0.02em;
      color: $color-primary-medium;
      margin-bottom: 18px;
      text-align: center;
      @media (max-width: 992px) {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 11px;
      }
    }
    p {
      font-weight: 400;
      font-size: 30px;
      line-height: 35px;
      text-align: center;
      letter-spacing: -0.02em;
      color: $color-secondary-dark;
      margin-bottom: 37px;
      @media (max-width: 992px) {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 23px;
      }
      a {
        font-weight: 600;
        color: $color-primary-medium;
        &:hover {
          opacity: 0.7;
        }
      }
    }
    .btn {
      background: $color-primary-dark;
      border: 1px solid $color-primary-dark;
      border-radius: 30px;
      padding: 9px 31px;
      font-weight: 700;
      font-size: 26px;
      line-height: 30px;
      color: $color-white;
      @media (max-width: 992px)  {
        font-size: 14px;
        line-height: 16px;
      }
      &:hover {
        background: transparent;
        border: 1px solid $color-primary-dark;
        color: $color-primary-dark;
      }
    }
  }
  .mudou-vida {
    padding: 80px 0 42px 0;
    @media (max-width: 992px)  {
      background: $color-secondary-medium;
      padding: 33px 0 45px 0;
      @media (max-width: 640px) {
        padding: 33px 0 15px 0;
      }
    }
    .container {
      @media (max-width: 992px)  {
        width: 90%;
        margin: 0 auto;
      }
    }
    h2 {
      font-weight: 300;
      font-size: 54px;
      line-height: 63px;
      text-align: center;
      letter-spacing: -0.02em;
      color: $color-secondary-dark;
      max-width: 490px;
      margin: 0 auto;
      margin-bottom: 55px;
      strong {
        font-weight: 600;
        color: $color-primary-medium;
        @media (max-width: 992px) {
          color: $color-primary-medium;
        }
      }
      @media (max-width: 992px) {
        font-weight: 300;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        letter-spacing: -0.02em;
        color: $color-white;
        max-width: 330px;
        margin: 0 auto;
        margin-bottom: 30px;
      }
      // @media (max-width: 640px) { 
        //   margin-bottom: 0;
        // }
      }
      .swiper-button-prev {
        transition: all .3s ease;
        left: 0;
        @media (max-width: 992px) {
          left: -10px;
        }
        &::after {
          content: '';
          background-image: url("images/aprenda-mt/prev.png");
          width: 24px;
          height: 44px;
          @media (max-width: 992px) {
            width: 8px;
            height: 15px;
            background-image: url("images/aprenda-mt/prev-m.png");
          }
        }
        &:hover {
          opacity: 0.7;
        } 
      }
      .swiper-button-next {
        transition: all .3s ease;
        right: 0;
        @media (max-width: 992px) {
          right: -9px;
        }
        &::after {
          content: '';
          background-image: url("images/aprenda-mt/next.png");
          width: 24px;
          height: 44px;
          @media (max-width: 992px) {
            background-image: url("images/aprenda-mt/next-m.png");
            width: 8px;
            height: 15px;
          }
        }
        &:hover {
          opacity: 0.7;
        } 
      }
      .swiper {
        width: 100%;
        padding: 0 40px;
        height: 100%;
        cursor: pointer;
        @media (max-width: 640px)  {
          padding: 0 10px;
        }
      }
      .swiper-wrapper {
        align-items: center;
        @media (max-width: 640px) {
          align-items: normal;
        }
      }
      .swiper-mobile {
        @media (max-width: 640px) {
          padding: 13px 12px 17px 12px;
          border: 1px solid $color-white;
          width: 90%;
          margin: 0 auto;
          border-radius: 8px;
        }
      }
      .swiper-slide {
        text-align: center;
        border: 1px solid $color-primary-medium;
        border-radius: 8px;
        padding: 15px 14px 15px 18px;
        height: fit-content;
        @media (max-width: 992px) {
          border: 1px solid $color-white;
          padding: 13px 12px 17px 12px;
        }
        @media (max-width: 640px) {
          // padding: 0;
          border: 0;
          border-radius: 0;
        }
        iframe {
          margin-bottom: 17px;
          height: 150px;
          width: 100%;
          @media (max-width: 992px) {
            margin-bottom: 5px;
          }
        }
        p {
          font-weight: 400;
          font-size: 1.125rem;
          line-height: 22px;
          text-align: center;
          margin-bottom: 0;
          color: $color-secondary-dark;
          @media (max-width: 992px) {
            font-weight: 400;
            font-size: 1rem;
            line-height: 18px;
            text-align: center;
            color: $color-white;
          }
        }
      }
      .swiper-slide-next {
        padding: 17px 18px 23px 18px;
        @media (max-width: 992px)  {
          padding: 13px 12px 17px 12px;
          border: 1px solid $color-white;
        }
        iframe {
          margin-bottom: 21px;
          height: 185px;
          width: 100%;
          @media (max-width: 992px) {
            height: 150px;
            margin-bottom: 5px;
          }
        }
        p {
          font-weight: 400;
          font-size: 20px;
          line-height: 26px;
          text-align: center;
          margin-bottom: 0;
          color: $color-secondary-dark;
          @media (max-width: 992px) {
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            color: $color-white;
          }
        }
      }
    }
    .garantia {
      padding: 43px 0 50px 0;
      text-align: center;
      h2 {
        font-weight: 600;
        font-size: 30px;
        line-height: 35px;
        letter-spacing: -0.02em;
        margin-bottom: 25px;
        color: $color-primary-medium;
        text-align: center;
      }
      img {
        margin-bottom: 18px;
      }
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -0.02em;
        color: $color-secondary-dark;
        text-align: left;
        strong {
          font-weight: 700;
        }
        span {
          font-weight: 700;
          color: $color-primary-medium;
        }
      }
    }
    .tres-passos{
      background: $color-secondary-medium;
      padding: 57px 0 61px 0;
      @media (max-width: 992px) {
        padding: 23px 0 28px;
      }
      h2 {
        font-weight: 300;
        font-size: 54px;
        line-height: 63px;
        text-align: center;
        letter-spacing: -0.02em;
        color: $color-white;
        margin-bottom: 48px;
        @media (max-width: 992px) {
          font-size: 30px;
          line-height: 35px;
          max-width: 250px;
          margin: 0 auto;
          margin-bottom: 24px;
        }
        strong {
          font-weight: 600;
          color: $color-primary-medium;
        }
      }
      .item {
        background: rgba(0, 0, 0, 0.07);
        padding: 25px 0;
        @media (max-width: 992px) {
          padding: 19px 0 17px 0;
        }
        &:nth-child(odd) {
          background: rgba(255, 255, 255, 0.09);
        }
        span {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          font-weight: 700;
          font-size: 48px;
          line-height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $color-secondary-dark;
          background: $color-secondary-light;
          margin: 0 30px;
          @media (max-width: 992px) {
            font-size: 20px;
            line-height: 30px;
            width: 25px;
            height: 25px;
            margin: 0 9px 0 0;
          }
        }
        .text {
          width: calc(100% - 80px - 30px - 30px);
          h4 {
            font-weight: 600;
            font-size: 30px;
            line-height: 35px;
            color: $color-secondary-dark;
            margin-bottom: 5px;
            @media (max-width: 992px) {
              font-weight: 600;
              font-size: 14px;
              line-height: 16px;
              color: $color-secondary-dark;
            }
          }
          p {
            font-weight: 400;
            font-size: 24px;
            line-height: 28px;
            color: $color-white;
            margin-bottom: 0;
            @media (max-width: 992px) {
              font-weight: 400;
              font-size: 14px;
              line-height: 16px;
              color: $color-white;
            }
          }
        }
      }
      .btn {
        font-weight: 700;
        font-size: 26px;
        line-height: 30px;
        color: $color-white;
        background: $color-primary-dark;
        border: 1px solid $color-primary-dark;
        border-radius: 30px;
        padding: 9px 31px;
        margin-top: 45px;
        @media (max-width: 992px) {
          margin-top: 25px;
          font-size: 14px;
          line-height: 16px;;
        }
        &:hover {
          background: transparent;
          border: 1px solid $color-white;
          color: $color-white;
        }
      }
      .passos-aprender {
        background: rgba(0, 0, 0, 0.07);     
        padding: 17px 0 49px 0;
        @media (max-width: 992px) {
          padding: 15px 0 21px 0;
        }
        .swiper {
          padding-left: 30px;
          @media (max-width: 992px) {
            padding: 0;
            cursor: pointer;
          }
        }
        .swiper-slide {
          @media (max-width: 992px) {
            text-align: center;
          }
          .passo {
            @media (max-width: 992px) {
              width: 70%;
              margin: 0 auto;   
            }
          }
          h5 {
            font-weight: 600;
            font-size: 24px;
            line-height: 28px;
            color: $color-secondary-dark;
            margin-bottom: 10px;
            @media (max-width: 992px)  {
              font-size: 14px;
              line-height: 16px;
            }
          }
          p {
            font-weight: 400;
            font-size: 24px;
            line-height: 28px;
            color: $color-white;
            margin-bottom: 0;
            @media (max-width: 992px)  {
              font-size: 14px;
              line-height: 16px;
            }
          }
        }
        .swiper-button-prev {
          transition: all .3s ease;
          display: none;
          @media (max-width: 992px) {
            display: flex;
          }
          &::after {
            content: '';
            width: 8px;
            height: 15px;
            background-image: url("images/aprenda-mt/prev-m.png");
          }
          &:hover {
            opacity: 0.7;
          } 
        }
        .swiper-button-next {
          transition: all .3s ease;
          display: none;
          @media (max-width: 992px) {
            display: flex;
          }
          &::after {
            content: '';
            background-image: url("images/aprenda-mt/next-m.png");
            width: 8px;
            height: 15px;
          }
          &:hover {
            opacity: 0.7;
          } 
        }
      }
    }
    
    .mt-curso {
      padding: 90px 0;
      @media (max-width: 992px) {
        padding: 40px 0 50px 0;
      }
      h2 {
        font-weight: 300;
        font-size: 54px;
        line-height: 63px;
        letter-spacing: -0.02em;
        color: $color-secondary-dark;
        margin-bottom: 24px;
        text-align: center;
        @media (max-width: 992px) {
          font-size: 30px;
          line-height: 35px;
          margin-bottom: 18px;
        }
        strong {
          color: $color-primary-medium;
          font-weight: 600;
        }
      }
      h3 {
        font-weight: 300;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        letter-spacing: -0.02em;
        color: $color-secondary-dark;
        margin-bottom: 77px;
        @media (max-width: 992px)  {
          font-size: 22px;
          line-height: 26px;
          margin-bottom: 40px;
        }
        strong {
          font-weight: 600;
          color: $color-primary-medium;
        }
      }
      p {
        font-weight: 400;
        font-size: 26px;
        line-height: 30px;
        color: $color-secondary-dark;
        margin-bottom: 0;
        @media (max-width: 992px) {
          font-size: 14px;
          line-height: 16px;
          font-weight: 400;
        }
      }
      .btn {
        margin-top: 34px;
        padding: 9px 31px;
        background: $color-primary-dark;
        border: 1px solid $color-primary-dark;
        border-radius: 30px;
        font-weight: 700;
        font-size: 26px;
        line-height: 30px;
        color: $color-white;
        @media (max-width: 992px) {
          font-size: 14px;
          line-height: 16px;
          margin-top: 19px;
        }
        &:hover {
          border: 1px solid $color-primary-dark;
          background: transparent;
          color: $color-primary-dark;
        }
      }
      .atividades {
        margin-bottom: 75px;
        @media (max-width: 992px) {
          margin-bottom: 42px;
        }
        .swiper {
          @media (max-width: 992px) {
            cursor: pointer;
          }
        }
        .swiper-slide {
          img {
            margin-bottom: 30px;
          }
          h4 {
            font-weight: 600;
            font-size: 24px;
            line-height: 22px;
            text-align: center;
            color: $color-secondary-dark;
            margin: 0 auto;
            margin-bottom: 19px;
          }
          p {
            font-weight: 400;
            font-size: 1.125rem;
            line-height: 1.3rem;
            color: $color-secondary-dark;
            margin-bottom: 0;
          }
          .content {
            @media (max-width: 992px) {
              max-width: 266px;
              margin: 0 auto;
            }
          }
        }
      }
      .swiper-button-prev {
        transition: all .3s ease;
        display: none;
        @media (max-width: 992px) {
          display: flex;
        }
        &::after {
          content: '';
          width: 8px;
          height: 15px;
          background-image: url("images/aprenda-mt/prev-yellow.png");
        }
        &:hover {
          opacity: 0.7;
        } 
      }
      .swiper-button-next {
        transition: all .3s ease;
        display: none;
        @media (max-width: 992px) {
          display: flex;
        }
        &::after {
          content: '';
          background-image: url("images/aprenda-mt/next-yellow.png");
          width: 8px;
          height: 15px;
        }
        &:hover {
          opacity: 0.7;
        } 
      }
    }
  }