.page-beneficios-mt {
  .hero {
    padding: 70px 0 37px 0;
    @media (max-width: 992px) {
      padding: 44px 0 24px 0;
    }
    p {
      font-weight: 400;
      font-size: var(--font-size-primary);
      line-height: var(--line-height-primary);
      color: $color-secondary-dark;
      margin-bottom: 37px;
      @media (max-width: 992px) {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 20px;
      }
      strong {
        font-weight: 700;
        color: $color-primary-medium;
      }
    }
  }
  .mt-faz {
    background: $color-secondary-medium;
    padding: 60px 0 70px 0;
    @media (max-width: 992px) {
      padding: 37px 0 55px 0;
    }
    h2 {
      font-weight: 300;
      font-size: var(--font-size-h2);
      line-height: 53px;
      letter-spacing: -0.02em;
      color: $color-white;
      margin-bottom: 60px;
      text-align: center;
      @media (max-width: 992px) {
        font-size: 30px;
        line-height: 32px;
        max-width: 215px;
        margin: 0 auto;
        margin-bottom: 34px;
      }
      strong {
        font-weight: 600;
        color: $color-primary-medium;
      }
    }
    h3 {
      font-weight: 600;
      font-size: 30px;
      line-height: 44px;
      color:$color-primary-medium;
      @media (max-width: 992px) {
        font-size: 14px;
        line-height: 27px;
      }
    }
    ul {
      margin-bottom: 0;
      li {
        font-weight: 400;
        font-size: var(--font-size-primary);
        line-height: 42px;
        color: $color-white;
        @media (max-width: 992px) {
          font-size: 16px;
          line-height: 26px;
          margin-bottom: 12px;
        }
      }
    }
    img {
      margin-right: 15px;
      @media (max-width: 992px) {
        margin-right: 8px;
        width: 52px;
      }
    }
  }
  .o-que-dizem  {
    h2 {
      @media (max-width: 992px) {
        max-width: 270px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    p {
      @media (max-width: 992px) {
        color: $color-white;
        font-size: 14px;
        line-height: 18px;
      }
    }
    .card-lateral {
      @media (max-width: 992px) {
        border-radius: 5px;
      }
    }
    .swiper-button-next:after, .swiper-button-prev:after {
      @media (max-width: 992px)  {
        font-size: 18px;
      }
    }
  }
  .beneficios-info {
    padding-bottom: 63px;
    @media (max-width: 992px)  {
      padding-bottom: 27px;
    }
    .info {
      max-width: 860px;
      margin: 0 auto;
      @media (max-width: 992px) {
        max-width: 100%;
        width: 100%;
        text-align: center;
      }
      img {
        margin-right: 21px;
        @media (max-width: 992px) {
          width: 80px;
          margin-right: 0;
          margin-bottom: 26px;
        }
      }
      p {
        font-weight: 400;
        font-size: var(--font-size-primary);
        line-height: var(--line-height-primary);
        color: $color-secondary-dark;
        max-width: 728px;
        margin: 0 auto;
        @media (max-width: 992px) {
          font-size: 16px;
          line-height: 18px;
          text-align: left;
        }
      }
    }
  }
  .ciencia {
    padding: 90px 0 83px 0;
    @media (max-width: 992px) {
      padding: 50px 0 67px 0;
    }
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
      background-color: transparent;
      &.active > .box {
        background-color: $color-primary-medium
      }
    }
    h2 {
      font-weight: 300;
      font-size: var(--font-size-h2);
      line-height: 63px;
      text-align: center;
      letter-spacing: -0.02em;
      color: $color-secondary-dark;
      margin-bottom: 44px;
      margin-top: 50px;
      @media (max-width: 992px) {
        font-size: 30px;
        line-height: 35px;      
        margin: 35px 0;
      }
      strong {
        font-weight: 600;
        color: $color-primary-medium;
      }
    }
    .btn {
      font-weight: 400;
      font-size: 26px;
      line-height: 30px;
      color: $color-white;
      padding: 9px 31px;
      background: $color-primary-dark;
      border: 1px solid  $color-primary-dark;
      border-radius: 30px;
      margin-top: 74px;
      @media (max-width: 992px) {
        font-size: 16px;
        line-height: 18px;
        margin-top: 24px;
      }
      &:hover {
        background: transparent;
        color: $color-primary-dark;
      }
    }
    .swiper-slide {
      h3 {
        font-weight: 600;
        font-size: 30px;
        line-height: 35px;
        color: $color-secondary-dark;
        margin-bottom: 40px;
        @media (max-width: 992px) {
          text-align: center;
          max-width: 200px;
          margin: 0 auto;
          font-size: var(--font-size-primary);
          line-height: var(--line-height-primary);
          margin-bottom: 9px;
        }
      }
      p {
        font-weight: 400;
        font-size: var(--font-size-primary);
        line-height: var(--line-height-primary);
        color: $color-secondary-dark;
        margin-bottom: 0;
        @media (max-width: 992px) {
          font-size: 16px;
          line-height: 18px;     
          margin-top: 31px; 
        }
      }
      img {
        border: 1px solid $color-primary-medium;
        border-radius: 20px;
        padding: 12px 25px;
      }
    }
    .swiper-button-prev {
      transition: all .3s ease;
      left: 0;
      @media (max-width: 992px) {
        left: -10px;
        top: 150px;
      }
      &::after {
        content: '';
        background-image: url("images/beneficios-mt/prev-yellow.png");
        width: 24px;
        height: 44px;
        @media (max-width: 992px) {
          width: 8px;
          height: 15px;
          background-image: url("images/beneficios-mt/prev-yellow-m.png");
        }
      }
      &:hover {
        opacity: 0.7;
      } 
    }
    .swiper-button-next {
      transition: all .3s ease;
      right: 0;
      @media (max-width: 992px) {
        right: -9px;
        top: 150px;
      }
      &::after {
        content: '';
        background-image: url("images/beneficios-mt/next-yellow.png");
        width: 24px;
        height: 44px;
        @media (max-width: 992px) {
          background-image: url("images/beneficios-mt/next-yellow-m.png");
          width: 8px;
          height: 15px;
        }
      }
      &:hover {
        opacity: 0.7;
      } 
    }
    ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      @media (max-width: 992px)  {
        display: grid;
        grid-template-columns: 50% 50%;
      }
    }
    .box {
      background: $color-secondary-light;
      width: 200px;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 992px) {
        width: 175px;
        height: 175px;
        padding: 15px 15px 0 15px;
        margin-bottom: 25px;
      }
      &:hover {
        background: $color-primary-medium;
      }
      &:active {
        background: $color-primary-medium;
      }
      img {
        margin-bottom: 13px;
        max-width: 76px;
        height: auto;
        @media (max-width: 992px) {
          max-width: 50px;
          height: auto;
          margin-bottom: 10px;
        }
      }
      h4 {
        font-weight: 600;
        font-size: 22px;
        line-height: 22px;
        color: $color-secondary-dark;
        @media (max-width: 992px) {
          margin-bottom: 10px;
          font-size: 16.1214px;
          line-height: 16px;
        }
      }
    }
    .legend {
      margin-top: 78px;
      @media (max-width: 992px) {
        margin-top: 15px;
      }
      p {
        font-weight: 400;
        font-size: var(--font-size-primary);
        line-height: var(--line-height-primary);
        color: $color-secondary-dark;
        margin-bottom: 40px;
        @media (max-width: 992px) {
          font-size: 16px;
          line-height: 18px;
        }
      }
    }
  }
}