.sidebar {
  .tags-sidebar {
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 25px;
    h4 {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      color: $color-secondary-dark;
      margin-bottom: 20px;
    }
    ul {
      padding: 0;
      list-style-type: none;
      li {
        display: inline-block;
        box-sizing: revert;
        a {
          font-weight: 500;
          font-size: 11.9018px;
          line-height: 15px;
          color: #ccc;
          text-decoration: none;
          border: 0.5px solid #ccc;
          padding: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 12px 8px 0;
          &:hover {
            border: 1px solid  $color-secondary-dark;
            color:  $color-secondary-dark;
          }
        }
      }
    }
  }
  
  .latest-posts {
    border: 1px solid $color-primary-dark;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    padding: 30px;
    margin-bottom: 70px;
    margin-top: 45px;
    h4 {
      text-align: center;
      font-weight: 700;
      font-size: 22.2px;
      line-height: 27px;
      color: #ccc;
      margin-bottom: 40px;
      position:relative;
      padding-bottom: 20px;
      &::after {
        position: absolute;
        content: '';
        height: 1px;
        width: 99px;
        background: #ccc;
        bottom: 0;
        left: calc(50% - 99px / 2);
      }
    }
    .list-group {
      border: 0;
      border-radius: 0;
    }
    .list-group-item {
      padding: 0;
      text-decoration: none;
      border: 0;
      margin-bottom: 60px;
      &:hover {
        .bd-placeholder-img {
          transition: all .3s ease;
          filter: brightness(0.6);
          border:0!important;
        }
      }
      a {
        color: #ccc;
        text-decoration: none;
        &:hover {
          opacity: 0.7;
        }
      }
      h5 {
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 10px;
      }
      p {
        font-weight: 500;
        font-size: 10.91px;
        line-height: 13px;       
        margin-bottom: 0;
        color: #ccc;
      }
    }
  }
  .most-popular {
    background-color: $color-secondary-medium;
    padding: 23px 10px 35px 10px;
    margin-bottom: 85px;
    h4 {
      font-weight: 600;
      font-size: 1.069rem;
      line-height: 1.313rem;
      color: $color-white;
      text-align: left;
      margin-bottom: 25px;
      text-decoration: underline;
    }
    ul {
      margin: 0 auto;
      padding: 0!important;
      border: 0;
      li {
        border: 0;
        padding: 0 0 10px 0;
        border-bottom: 1px solid $color-white;
        margin-bottom: 20px;
        background: transparent;
        background-color: transparent!important;
        &:nth-last-child(1) {
          border-bottom: 0;
          margin-bottom: 0;
        }
        img {
          margin-right: 7px;
          @media (max-width: 991.98px) {
            width: 86px;
            height: 86px;
          }
        }
        h3 {
          color: $color-white;
          text-decoration: none;
          font-weight: 600;
          font-size: 14.9173px;
          line-height: 18px;
          text-align: left;
          margin-bottom: 10px;
          a {
            color: $color-white;
            text-decoration: none;
            &:hover {
              opacity: 0.7;
            }
          }
          @media (max-width: 991.98px) {
            font-size: 12.7994px;
            line-height: 16px;
          }
        }
        p {
          color: $color-white;
          font-weight: 400;
          font-size: 9.08381px;
          line-height: 11px;
          margin-bottom: 0;
          @media (max-width: 991.98px) {
            font-size: 7.79413px;
            line-height: 10px;
          }
        }
        span {
          font-weight: 500;
          font-size: 8.56743px;
          line-height: 10px;
          color: $color-white;
          text-transform: capitalize;
          a {
            color: $color-white;
          }
          @media (max-width: 991.98px) {
            font-size: 7.35107px;
            line-height: 9px;
          }
        }
        
      }
    }
  }
  .topics {
    margin-bottom: 45px;
    #loadmore {
      color: $color-secondary-dark;
      text-align: right;
      text-decoration-line: underline;
      margin-top: 25px;
      font-weight: 700;
      font-size: 11.995px;
      line-height: 15px;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
    h4 {
      font-weight: 700;
      font-size: 1.384rem;
      line-height: 1.688rem;
      color: $color-secondary-dark;
      text-align: center;
      margin-bottom: 10px;
      @media (max-width: 991.98px) {
        font-size: 17.93px;
        line-height: 22px;
      }
    }
    .topics-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      .cat-item {
        &:nth-child(1) {
          display: flex;
        }
        &:nth-child(2) {
          display: flex;
        }
        &:nth-child(3) {
          display: flex;
        }
        &:nth-child(4) {
          display: flex;
        }
        &:nth-child(5) {
          display: flex;
        }
        position: relative;
        display: none;
        align-items: center;
        justify-content: left;   
        border-bottom: 1px solid $color-primary-medium;
        padding-bottom: 25px;
        margin-top: 35px;
        @media (max-width: 991.98px)  {
          margin-top: 20px;
          padding-bottom: 20px;
          border-bottom: 1px solid $color-line-grey;
        }
        &::before {
          content: '';
          background: url(images/sidebar/chevron-right.svg) center center no-repeat;
          width: 9.23px;
          height: 9.23px;
          margin-right: 15px;
        }
        a {
          font-weight: 600;
          font-size: 0.98rem;
          line-height: 1.188rem;
          color: $color-secondary-dark;
          position: relative;
          text-decoration: none;
          &:hover {
            opacity: 0.7;
            padding-left: 20px;
          }
          @media (max-width: 991.98px) {
            font-size: 13px;
            line-height: 15px;
          }
        }
      }
    }
  }
  .newsletter {
    background: $color-primary-medium url("images/newsletter/newsletter-bg.png") center left no-repeat;
    padding: 20px;
    @media (max-width: 991.98px) {
      background: $color-primary-medium;
    }
    input[type="text"] {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: $color-primary-medium!important;
      display: flex;
      padding: 9px 11px;
      border: 0;
      border-radius: 0;
      &:focus {
        color: $color-secondary-dark!important;
        border-color: $color-secondary-dark!important;
        outline: 0;
        box-shadow: none;
      }
      ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $color-primary-medium!important;
        opacity: 1; /* Firefox */
      }
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $color-primary-medium!important;
      }
      ::-ms-input-placeholder { /* Microsoft Edge */
        color: $color-primary-medium!important;
      }
    }
    .form-control {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: $color-primary-medium!important;
      display: flex;
      padding: 10px;
      border: 0;
      border-radius: 0;
      &:focus {
        color: $color-secondary-dark!important;
        border-color: $color-secondary-dark!important;
        outline: 0;
        box-shadow: none;
      }
      ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $color-primary-medium!important;
        opacity: 1; /* Firefox */
      }
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $color-primary-medium!important;
      }
      ::-ms-input-placeholder { /* Microsoft Edge */
        color: $color-primary-medium!important;
      }
    }
    h4 {
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      color: $color-white;
      margin-bottom: 0;
      padding: 0;
      @media (max-width: 991.98px) {
        font-size: 20px;
        line-height: 18px;
      }
    }
    h5 {
      font-weight: 600;
      font-size: 15px;
      line-height: 18px;
      color: $color-white;
      margin-bottom: 15px;
    }
    .btn {
      background-color: $color-primary-dark;
      border: 1px solid $color-primary-dark;
      color: $color-white;
      border-radius: 0;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      padding: 5px 20px;
      &:hover {
        background-color:transparent;
        border: 1px solid $color-white;
      }
      @media (max-width: 991.98px) {
        font-size: 14px;
        line-height: 17px;
      }
    }
    p {
      font-weight: 400;
      font-size: 10.9px;
      line-height: 13px;
      margin: 0 auto;
      text-align: center;
    }
  }
}