
// /*
// //////////////////
// ////CLEAR RESET//
// ////////////////
// */

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  font-family: 'Work Sans', sans-serif!important;
}

:root {
  accent-color: #323B50;
  --font-size-primary: 1.25rem;
  --font-size-h2: 3rem;
  --line-height-primary: 1.625rem;
}

.form-control {
  &:focus {
    box-shadow: none!important;
  }
}

a {
  transition: all .3s ease;
  text-decoration: none;
  &:hover {
    // opacity: 0.8;
    transition: all .3s ease;
  }
}

::selection {
  background: #7896C1;
  color: #fff;
}