
// /*
// //////////////////
// ////CLEAR RESET//
// ////////////////
// */

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  font-family: 'Work Sans', sans-serif!important;
}

:root {
   accent-color: #323B50;
  --font-size-primary: 1.125rem;
  --font-size-h2: 2.875rem;
  --font-size-h3: 1.875rem;
  --line-height-primary: 1.5rem;
}

.form-control {
  &:focus {
    box-shadow: none!important;
  }
}

a {
  transition: all .3s ease;
  text-decoration: none;
}

::selection {
  background: #7896C1;
  color: #fff;
}