//Brand colors

//Primary
$color-primary-light: #ffedbf;
$color-primary-medium: #ffc536;
$color-primary-dark: #f29f05;

//Secondary
$color-secondary-light: #d4e2f4;
$color-secondary-medium: #7896c1;
$color-secondary-medium-80: rgba(120, 150, 193, 0.8);
$color-secondary-dark: #313a4e;
$color-secondary-dark-80: #323b50;

//Solid colors

//Default colors
$color-black: #000000;
$color-white: #ffffff;
$color-white-50: rgba(255, 255, 255, 0.5);
$color-white-60: rgba(255, 255, 255, 0.6);
$color-prink: #f49093;
$color-green: #a6d491;
$color-grey-light: #e2e2e2;
$color-green-whatsapp: #5cde4a;
$color-beige: #f8e6c0;
$color-grey: #464646;
$color-medium-grey: #646464;
$color-grey-bullets: #959595;
$color-grey-pagination: #c4c4c4;
$color-article-grey: #606060;
$color-line-grey: #efefef;
$color-grey-tags: #e5e5e5;
$color-grey-boder: #d9d9d9;

.color-highlight {
  color: $color-primary-medium;
}

.color-secondary-dark-80 {
  color: $color-secondary-dark-80;
}


.fw-500 {
  font-weight: 500;
}

.pi-center {
  place-items: center;
}
.pc-center {
  place-content: center;
}

//Backgrounds
.background-primary-dark {
  background-color: $color-primary-dark;
}
.background-primary-light {
  background-color: $color-primary-medium;
}
.background-secondary-dark {
  background-color: $color-secondary-dark;
}
.background-secondary-light {
  background-color: $color-secondary-medium;
}
.background-black {
  background-color: $color-black;
}
.background-white {
  background-color: $color-white;
}
.background-pink {
  background-color: $color-prink;
}
.background-green {
  background-color: $color-green;
}
.background-green-whatsapp {
  background-color: $color-green-whatsapp;
}
.background-beige {
  background-color: $color-beige;
}
.background-medium-grey {
  background-color: $color-medium-grey;
}
